header {
    margin: 0px;
    padding: 0px;
}

h1, h3 {
    margin: 0px;
    padding: 0px;
    padding-left: 1em;
    color: white;
}

h3 {
    padding-left: 4em;
}

h4 {
    color: white;
    padding-top: 8em;
}

div {
    background-color: rgb(53, 53, 78);
    margin: 0px;
}

nav {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 2em;
    padding-bottom: .5em;
}

a {
    color: white;
    padding: 4em;
    padding-left: 3em;
}

a:hover {
    color: white;
    size: 3em;
}

body {
    padding: 0px;
    margin: 0px;
}

#footer-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: large;
    margin-top: 2em;
}