.left-side {
    padding-right: 2em;
}

#index-dog1 {
    height: 400px;
    width: 400px;
    padding-left: 0px;
}

#index-dog2 {
    height: 400px;
    width: 400px;
    padding-left: 2em;
    padding-right: 0px;
}
